<a href="https://colab.research.google.com/github/SuperDataWorld/Python/blob/main/Dummy_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import random
import datetime

In [2]:
cars = ['Audi', 'BMW', 'Kia', 'Honda', 'Skoda']

models = {0:['A1', 'A3', 'A4', 'A5', 'A6'], 
          1:['1 Series','3 Series','5 Series','7 Series','X5'],
          2:['Rio','Spotage','Sorento','Soul','Ceed'],
          3:['Accord','Civic','Jazz','Fit'],
          4:['Citigo','Scala','Octavia']}

prices =  {0:[30000, 32000, 55000, 60000, 70000], 
          1:[35000, 50000, 60000, 70000, 65000],
          2:[19000, 40000, 58000, 37000, 25000],
          3:[32000, 25000, 30000, 15000],
          4:[15000, 20000, 35000]}

years = [2021, 2020, 2019, 2018, 2017]

salespeople = ['Pat Byrne', 'Joe Fats', 'Tony Long', 'Jimmy The Fly', 'Santa Barry', 'Mary Black']

# Rules
1: Pick a random manufacturer for our list <br>
2: From that manufacturer pick a car from model list<br> 
3: Pick a Year between (2021 and 2017)<br>
4: Get reference price for the model<br>
5: Adjust price 10% down for each year then randomise 5% up or down for purchase price<br>
6: Take purchase price and randomise - 10% up or down<br>
7: Randomise Repairs as percentage of purchase price 1 - 10%<br> 
8: Randomise sale price as purchase + repairs - 5% to plus 10%<br>
9: Generate sales date within the month<br>
10: Randomise days in stock between 1 - 90<br>
11: Choose Random Sales Person

In [3]:
car_data = pd.DataFrame()

for i in range(0, 250):
  make = random.choice(cars)
  modelindex = cars.index(make)
  model = random.choice(models.get(modelindex))
  priceindex = models.get(modelindex).index(model)
  price = prices.get(modelindex)[priceindex]
  year = random.choice(years)
  deval = (2021 - year) * .1
  purchase_price = round(price * (1 - (deval + random.uniform(-.05, .1))),2)
  repair_cost = round(purchase_price * random.uniform(.01, .1),2)
  sales_price = round((purchase_price + repair_cost) * random.uniform(.95, 1.1),2)
  stock_days = random.randint(1, 90)
  date_sold = datetime.datetime(2021, 9, 1) + datetime.timedelta(days = random.randint(0, 30))
  profit = sales_price - purchase_price - repair_cost
  salesperson = random.choice(salespeople)

  linedict = {'Make': [make], 'Model': [model], 'Year':[year], 'Purchase Price':[purchase_price],'Repair Cost':[repair_cost],
          'Sales Price':[sales_price], 'Profit':[profit],'Stock Days':[stock_days], 'Date Sold':[date_sold], 'Sales Person':[salesperson]}

  line = pd.DataFrame(linedict)
  car_data = pd.concat([car_data, line])

#print('Make')
#print(make)
#print('\nModel')
#print(model)
#print('\nYear')
#print(year)
#print('\nPurchase Price')
#print(purchase_price)
#print('\nRepairs')
#print(repair_cost)
#print('\nTotal Cost')
#print(round(purchase_price+repair_cost,2))
#print('\nSales Price')
#print(sales_price)
#print('\nProfit') 
#print(round(sales_price - (purchase_price + repair_cost),2))
#print('\nDays in Stock') 
#print(stock_days)
#print('\nDay Sold') 
#print(date_sold)

In [4]:
car_data.to_csv('/content/drive/MyDrive/Colab Notebooks/Sales Data/Sales_Data_Sept21.csv',index = False)

In [5]:
car_data

     Make     Model  Year  ...  Stock Days  Date Sold   Sales Person
0     Kia       Rio  2019  ...          36 2021-10-01     Mary Black
0    Audi        A5  2017  ...          52 2021-09-28     Mary Black
0   Honda    Accord  2021  ...          70 2021-09-11      Tony Long
0     Kia       Rio  2020  ...          67 2021-09-27     Mary Black
0    Audi        A6  2017  ...           2 2021-09-16    Santa Barry
..    ...       ...   ...  ...         ...        ...            ...
0     BMW  1 Series  2020  ...          32 2021-09-13      Tony Long
0   Skoda     Scala  2017  ...          79 2021-09-07    Santa Barry
0   Skoda    Citigo  2021  ...          66 2021-09-19      Tony Long
0    Audi        A1  2019  ...          87 2021-09-21  Jimmy The Fly
0   Skoda   Octavia  2018  ...          53 2021-09-27  Jimmy The Fly

[250 rows x 10 columns]